<section id="contact" class="section"  [ngClass]="{ 'reveal': isVisible }">
    <h2 class="text-center title m-2 pb-5">Let's Connect</h2>
    <div class="box shadoww">
        <div class="imgg">
           <img src="assets/images/nada4.png" class="img-fluid rounded-circle myimage" alt="Your image description">
        </div>
        <div class="body">
             <h4 >Nada Sabry</h4>
             <p>Thanks for visiting Send a connection request on <a href="https://www.linkedin.com/in/nada-sabry-62668b232/" target ="_blank">Linkedin</a> 
             or lets connect on Gmail : </p>
             <div class="gmail">
                <h5> <i class="fa fa-envelope"></i> nsabry395@gmail.com </h5>
             </div>
             or
             <a href="https://www.linkedin.com/in/nada-sabry-62668b232/" target ="_blank" class="linkedin">
                <h5> <i class="fa fa-linkedin" style="color: #ffffff; background-color: rgb(10,102,197); padding:1px 3px;"></i> Connect on Linkedin </h5>
             </a>
        </div>
    </div>
</section>
<!--
<div class="section contact">
    <p>contact works!</p>
</div>
-->
