#contact {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 3s all ease;
  background-color:var(--same-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
#contact.reveal {
   transform: translateX(0);
    opacity: 1; /* Reveal the box when the reveal class is added */
}
.box{
  color: black;
  padding:4%;
  background-color:white;
  display: flex;
  align-items:center ;
  flex-direction: column;
  width: 500px;//50%;
  @media (max-width:540px){
    width: 400px;
  }
  @media (max-width:420px){
    width: 300px;
  }
  height: 400px;
}
.shadoww {
  box-shadow: 1rem 1rem rgba(255, 255, 255, 0.5);
}
.myimage{
    background-color:white;
    width: 80px;
    height: max-content;
    //border: 4px solid white;
    //box-shadow: -2px 6px 1rem 0rem black;
}
.imgg{
  position: relative;
  top: -80px;
  @media (max-width:950px){
    top: -65px;
   }
   @media (max-width:540px){
    top: -60px;
   }
  @media (max-width:420px){
    top: -50px;
  }
}
.body{
  margin-top: -50px;
  @media (max-width:540px){
    margin-top: -20px;
  }
  display: flex;
  align-items:center ;
  flex-direction: column;
}
.gmail{
  background-color: rgb(234, 231, 231);
  padding:10px;
  //border:2 solid rgb(182, 5, 5);
}
.linkedin{
  background-color: rgb(234, 231, 231);
  padding:10px 19px;
  text-decoration: none;
  //color:white;
}
.myName{
  color: black;
  margin-bottom: 20px;
}
.gmail:hover {
  background-color: #f1f1f1;
  transform: scale(1.03);
  transition: 0.3s;
}

.linkedin:hover {
  background-color:#f1f1f1;// #e8f4ff;
  transform: scale(1.03);
  transition: 0.3s;
}
h5{
  padding: 2px;
}