#about {
    //opacity: 0; /* Hide the box initially */
    //transition: opacity 5s ease-in-out;
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  background-color: var(--same-background-color);
  transition: 2s all ease;
}
.section{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
  align-items: center;
  @media(max-width:600px){
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 5px;
    justify-content: center;
    height: auto;
  }
  //height: auto;
}
#about.reveal {
   transform: translateX(0);
   opacity: 1; /* Reveal the box when the reveal class is added */
}
.about-img img{
  width:350px;
  @media(max-width:575px){
    width:220px;
  }
}
.about-img{
  margin: auto;
}
.title{
  text-shadow: 1px 1px white;
  font-family: "Sansita Swashed", cursive;
  font-size: 45px;
  color: rgb(255,140,141);
}
.parag{
  font-size: 15px;
  @media(max-width:575px){
    font-size: 14px;
  }
    text-indent: 10px;
}
