<section id="about" class="section" [ngClass]="{ 'reveal': isVisible }">
    <div class="about-img">
        <img src="assets/images/aboutMeVector.svg" alt ="no img">
    </div>
    <div class="about-text">
        <h2  class="title" > About <span class="text-part">me</span> </h2>
        <p class="parag">
I am a Full Stack Software Engineer with 2+ years of experience in the fintech industry, specializing in building secure and scalable applications using Angular and .NET Core.
     
I graduated from the Faculty of Computers and Artificial Intelligence at Helwan University in 2023 with a GPA of 3.46.
<br>
At Al Ahly Momkn for E-Payments, I have worked on developing fintech systems, integrating payment services, enhancing performance, and automating workflows across multiple teams.

My background also includes experience as a Configuration Engineer and Technical Support Engineer, giving me strong skills in SQL Server, Linux, system monitoring, and problem-solving.
I’m always focused on writing clean code, improving performance, and delivering real value through reliable and user-friendly software.
</p>

    </div>
</section>