<section id="about" class="section" [ngClass]="{ 'reveal': isVisible }">
    <div class="about-img">
        <img src="assets/images/hi.png" alt ="no img">
    </div>
    <div class="about-text">
        <h2  class="title" > About me </h2>
        <p  class="parag">
            I am  a fresh graduate from the Faculty of Computers and Artificial Intelligence at Helwan University, with a GPA of 3.46, which is an excellent overall grade, I have a strong background in both front-end and back-end development. With(Angular, .NET Core).
       I am passionate about problem-solving and have participated in the ACM contest three times, and over 1000 problems solved, I am well-versed in algorithms, data structures, and design patterns. which has allowed me to hone my skills and gain valuable experience. My dedication and hard work have helped me to develop a strong foundation in computer science, and I am excited to continue to learn and grow in this field.
       As a front-end developer, I have experience in creating responsive and user-friendly web applications using HTML, CSS, and JavaScript. I am proficient in Angular framework and I have experience working with various libraries and frameworks.    
      <!--<br> Overall, my passion and skills in problem-solving, combined with my technical expertise, make me a valuable asset to any organization seeking a front-end and back-end developer with a strong foundation in computer science.-->
    </p>
    </div>
</section>