<!--
<div class="navbar">
    <div class="brand"><img src="assets/images/logo-no-background.svg" alt="no image" style="width:100px;"></div>
    <div class="routing">
        <div class="item">Home</div>
        <div class="item">About</div>
        <div class="item">Skills</div>
        <div class="item">Projects</div>
        <div class="item">Contact</div>
    </div>
</div>
-->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/images/logo-no-background.svg" alt="no image" style="width:100px;"></a>   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [style.color]="active[0]" (click)="standup(0)" href="#home">Home</a>
          <a class="nav-link" [style.color]="active[1]" (click)="standup(1)" href="#about">About</a>
          <a class="nav-link" [style.color]="active[2]" (click)="standup(2)"href="#projects">Projects</a>
          <a class="nav-link" [style.color]="active[3]" (click)="standup(3)" href="#contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>


  