.navbar{
    color:var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    //background-color://linear-gradient(rgba(0,0,0,0.5), var(--sec-color));
    padding: 0px 5%;
    background-color:rgba(6, 3, 7,0.9); //rgba(0, 0, 0, 0.1);
}
.routing{
    display: flex;
    flex-direction: row;
}
.item{
    margin-right: 20px;
}

.navbar-collapse {
    flex-direction: row-reverse;
}
/*
.nav-link:hover{
   color:var(--sec-color)
}
*/
.nav-link{
   color:var(--text-color);
}
.active{
    color:var(--sec-color)
}