.myimage{
    border-radius: 15%;
    width: 240px;
    @media (max-width:575px) {
        width: 200px;
    }
    background-color: rgb(1, 100, 100);
    border:5px solid;
    //animation: floatImage 4s ease-in-out infinite;
    //animation-delay:3.1s;
}
.title{
    font-family: 'Sansita Swashed', cursive;
    font-size: 40px;
}
.job{
    color: var(--sec-color);
    font-size: 20px;
    text-shadow: 0.5rem 0rem 1rem var(--sec-color);
}
.download-btn{
    text-decoration: none;
    color:white;
    padding: 13px 33px;
    border-radius: 25px;
    border: 2px solid var(--sec-color);
    font-family: 'Sansita Swashed', cursive;
}
.download-btn:hover{
    background-color: var(--sec-color);
}
//rounded-circle
#home{
    display: grid;
    align-items: center;
    align-content:center;
    grid-template-areas: 
//    "icon text text text text text img img img img img img";
"icon text text text text text text text img img img img";
    @media (max-width:575px) {

        grid-template-areas:
        "img img img img img img img img img img img img"
        "icon icon icon text text text text text text text text text";
        grid-row-gap: 15px;
        //background-color: aqua;
    }
}
.icon{
  grid-area: icon;
}
.text{
    grid-area: text;
}
.image{
    grid-area: img;
    @media (max-width:575px) {
       margin: auto;
    }
    opacity: 0;
    animation: zoomIn 1s ease forwards;//1.1s,
    animation-delay:1.1s;
}
h2{
  position: relative;
  display: inline-block;
  font-size: 8vh;
  text-shadow: 1px 1px var(--sec-color);
  @media (max-width:1025px){
    font-size: 5vh;
  }
  @media (max-width:350px){
    font-size: 4vh;
  }
  color: var(--same-background-color);
  -webkit-text-stroke: 0.3vw rgb(30, 30, 30);
  font-family: 'Sansita Swashed', cursive;
}
h2::before{
 content: attr(data-text);
 position: absolute;
 display: inline-block;
 white-space: nowrap;
 top: 0;
 left: 0;
 width: 0;
 height: 100%;
 color: var(--text-color);
 -webkit-text-stroke: 0vw rgb(35, 35, 35);
 border-right: 2px solid var(--text-color);
 overflow: hidden;
 animation: animate 6s linear infinite;
}
@keyframes animate 
{
    0%,10%,100%{
      width:0;
    }
    70%,90%{
        width:100%;
    }
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px); 
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes zoomIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1); 
    }
}
.vector{
    width: 270px;
    @media (max-width:575px) {
        width: 200px;
    }
}


