<section id="home" class="section row align-content-center">
    <div class="col-12 col-sm-1 align-self-center">
        <div class="col m-auto text-center">
            <div class="row mb-2">
                <a href="https://github.com/NadaSabry/ZoneGuardFE" target="_blank">
                    <img class="iconn" src="https://th.bing.com/th/id/OIP.NDtgPlMGa_BTPZPrt4JZ-AHaHa?pid=ImgDet&rs=1"
                        style="border-radius: 50%; width:29px; height:29px;">
                </a>
            </div>
            <div class="row mb-2">
                <a href="https://www.linkedin.com/in/nada-sabry-62668b232/" target="_blank">
                    <img class="iconn"
                        src=" https://th.bing.com/th/id/R.540ac9c1933114dfaa1e70fc5ee7be40?rik=dpb53VqPoZ8m9g&pid=ImgRaw&r=0"
                        style="border-radius: 50%; width:32px; height:32px;">
                </a>
            </div>
            <div class="row mb-2">
                <a href="https://codeforces.com/profile/Solver_-_NaDooDa" target="_blank">
                    <img class="iconn" src="https://www.stopstalk.com/stopstalk/static/images/codeforces_small.png?_rev=20201225170526"
                        style="border-radius: 50%; width:29px; height:29px;">
                </a>
            </div>
            <div class="row mb-2">
                <a href="https://www.facebook.com/nada.sabri.9849/" target="_blank">
                    <img class="iconn"
                        src="https://th.bing.com/th/id/R.24b3e22f73d6957bce3abdb0968990cb?rik=VZb20S6CtzvQog&riu=http%3a%2f%2f4.bp.blogspot.com%2f-Rm3giw7mj_8%2fVQLP1ZWAVwI%2fAAAAAAAAXw0%2fWPoJhWJu_aY%2fs1600%2ffacebook-iOS-icon.png&ehk=BuqxeNZJaZRBVpO%2fxgkZuT8cWrMJYhILEmBh5U8WnaM%3d&risl=&pid=ImgRaw&r=0"
                        style="border-radius: 50%; width:30px; height:30px;">
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 align-self-center justify-self-center ">
        <h1 class="title"> Hi, I'm Nada</h1>
        <p class="job">A Fullstack developer</p>
        <p>I always try to work hard and provide real value in my work. Welcome to my portfolio.</p>
        <br />
        <a href="assets/Nada.cv.pdf" download class="download-btn">
            Download cv <i class="fa fa-download"></i></a>
    </div>
    <div class="col-12 col-sm-5">
        <img src="assets/images/nada4.png" class="img-fluid rounded-circle myimage shadow" alt="Your image description">
    </div>
</section>