.myimage{
    //background-color: #060307;
    border-radius: 15%;
    width: 200px;
    background-color: rgb(1, 100, 100)
    //background-color: lightgray;

}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(256,256,2566,.15)!important;
}
/*
#home{
   // display: grid;
    //grid-template-columns: 1fr 1fr;
    //background-color: blueviolet;
}
*/
.align-self-center{
    grid-column-start: 1;
}
.title{
    font-family: 'Sansita Swashed', cursive;
    font-size: 40px;
}
.job{
    color: var(--sec-color);
    font-size: 20px;
}
.download-btn{
    text-decoration: none;
    //background-color: rgb(30,154,161);
    color:white;
    padding: 13px 33px;
    border-radius: 25px;
    border: 2px solid var(--sec-color);
    font-family: 'Sansita Swashed', cursive;
}
.download-btn:hover{
    background-color: var(--sec-color);
}
//rounded-circle
#home{
    display: grid;
    align-items: center;
    align-content:center;
    grid-template-areas: 
   "icon text text text text text img img img img img img";
    @media (max-width:575px) {

        grid-template-areas:
        "img img img img img img img img img img img img"
        "icon icon icon text text text text text text text text text";
        grid-row-gap: 15px;
        //background-color: aqua;
    }
}
.icon{
  grid-area: icon;
}
.text{
    grid-area: text;
    //align-self: center;
}
.image{
    grid-area: img;
    @media (max-width:575px) {
       margin: auto;
    }
}

