
<section id="certification" class="section" [ngClass]="{ 'reveal': isVisible }">
  <div class="Carousel">
    <h1>My cerifications</h1>
  <owl-carousel-o [options]="customOptions">  
    <ng-container *ngFor="let certf of certificats">
        <ng-template carouselSlide><app-certificate [certif_list]="certf" ></app-certificate>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
</section>



  
  <!--
    <div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>

  </owl-carousel-o>
  <div>Some tags after</div>
-->