/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}
:root{
  --text-color:white;
  --sec-color:hsl(180,100%,33%);
}

body{
    background-image: url("assets/images/background.webp");
    //yellow url("https://img.freepik.com/premium-photo/black-yellow-geometric-composition-paperboard-background_266768-836.jpg?w=740");
   // background-size:100% 100vh;
   background-repeat: no-repeat;
   background-size: 100% 100vh;
   background-attachment: fixed;
}

.shadow{
  box-shadow: 0px 0px 6px 0px rgba(256, 256, 256, 0.1),
}
.section{
  height: calc(100vh - 2px);
  width: 100%;
  background-color: rgba(256, 256, 256, 0.7);
  padding: 70px 50px 50px;
  display: flex;
  align-items: center;
  margin-bottom:2px;
}

