/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crete+Round&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,400&family=Nunito+Sans:ital,wght@0,300;0,600;1,800&family=Sansita+Swashed:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
  --text-color:white;
  --sec-color:#00ADB5;//rgb(30,154,161);//rgb(32, 188, 177);
  --same-background-color:rgb(6,4,6);
  //hsl(176,71%,43%)
}

body{
    background-image: url("assets/images/background.webp");
    //yellow url("https://img.freepik.com/premium-photo/black-yellow-geometric-composition-paperboard-background_266768-836.jpg?w=740");
   // background-size:100% 100vh;
   background-repeat: no-repeat;
   background-size: 100% 100vh;
   background-attachment: fixed;
}

.shadoww{
  box-shadow: 0 .2rem 0.5rem rgba(256,256,256,.15);
}
.section{
  height: calc(100vh);
  width: 100%;
  color:var(--text-color);
  padding: 70px 7%;
  //margin-bottom:2px;
}
.slideR{
  opacity: 0;
  animation: slightRight .7s ease forwards;
  animation-delay: 2.1s;
}
.slideT{
  opacity: 0;
  animation: slightTop 1s ease forwards;
  animation-delay: 3.1s;
}

@keyframes slightRight {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slightTop {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.title{
  text-shadow: 0.5px 0.5px white;
  font-weight: bold;
  font-family: "Sansita Swashed", cursive;
  color: white;
  //padding-top: 5px;
}
.text-part{
  color: var(--sec-color);
}

